<div class="grid grid-rows-4 gap-4 bg-[#2C3E50] h-screen text-white">
  @if(actor && apariciones){
    <div class="bg-[#2C3E50] p-4 grid grid-cols-3 gap-4 place-items-center justify-items-center align-items-end">
      <h1 class="name">{{actor.nombre}}</h1>
      <div>
        <h6 class="sub_name">Fecha de nacimiento</h6>
        <h6 class="sub_name">{{actor.fechaDeNacimiento|date: 'dd/MM/yyyy'}}</h6>
      </div>
      <!--<button class="buttonInfo" mat-fab extended [routerLink]="['/main/actors']">
        <mat-icon>undo</mat-icon>
        Back
      </button>-->
    </div>
    <div class="bg-[#2C3E50] p-4 ">
    <h2 class="biography">Biografía</h2>
    <br>
    <span class="biography_text">{{actor.biografia}}</span>
    </div>
    <div class="bg-[#2C3E50] p-4">

      <div class="flex">
        <h1 class="biography">Imágenes</h1>
        @if(isAdmin){ <!-- si es admin -->
          <button mat-fab class="ml-3">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
      <br>
      <shared-pages-carousel [imagenes]="actor.imagenes"></shared-pages-carousel>
    </div>

    <div class="bg-[#2C3E50] p-4">
      <div class="flex">
        <h1 class="biography">Apariciones</h1>
        @if(isAdmin){
          <button mat-fab class="ml-3">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
      <br>
      <shared-pages-carousel [movies]="apariciones"></shared-pages-carousel>
    </div>

}@else {
  <div class="flex items-center justify-center h-screen text-white">
    <shared-spiner class="spiner"></shared-spiner>
  </div>
}

