<div class="">
  <!-- Carrusel de Actores -->
  <div class="carousel-container">
    <p-carousel *ngIf="actors.length > 0"
                [value]="actors"
                [numVisible]="3"
                [numScroll]="3"
                [circular]="false"
                [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-actor>
        <!-- Renderiza cada tarjeta de actor -->
        <shared-card class="shared-card" [actor]="actor"></shared-card>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Carrusel de Películas -->
  <p-carousel *ngIf="movies.length > 0"
              [value]="movies"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-movie>
      <!-- Aquí se renderiza cada tarjeta de película -->
      <shared-card [movie]="movie"></shared-card>
    </ng-template>
  </p-carousel>

  <p-carousel *ngIf="imagenes.length > 0"
      [value]="imagenes"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-image>
      <div class="image-item">
        <img class="images" [src]="image.url" alt=" " />
      </div>
    </ng-template>
  </p-carousel>

  <div *ngIf="actors.length < 1 && movies.length < 1 && imagenes.length < 1">
    <shared-spiner></shared-spiner>
  </div>
</div>

