<mat-card>
  <mat-card-content class="mt-2">
      <!-- <h1>ES HTML</h1> -->
      <h1 mat-dialog-title>¿Está seguro que quiere eliminar a {{data}}?</h1>
      <div mat-dialog-content>
          <p>Este proceso no es reversible, está a punto de elimiar a {{ data }}</p>
      </div>
      <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">No Thanks</button>
          <span class="spacer"></span>
          <button mat-button color="primary" (click)="onConfirm()" cdkFocusInitial>Ok</button>
      </div>
  </mat-card-content>
</mat-card>
