@if(movie && reparto){
  <div class="grid grid-rows-[1fr, 1fr, 1fr, 1fr, 1fr] gap-y-24 bg-[#2C3E50] h-screen text-white">
    <!-- primera row -->
    <div class="bg-[#2C3E50] p-12 grid grid-cols-4 gap-4 place-items-center justify-items-center align-items-end">
      <h1 class="name">{{movie.titulo}}</h1>
      <div>
        <h6 class="sub_name">Fecha de lanzamiento</h6>
        <h6 class="sub_name">{{movie.ano_lanzamiento}}</h6>
      </div>
      <!--
      <button class="buttonInfo" mat-fab extended [routerLink]="[this.previousUrl]">
        <mat-icon>undo</mat-icon>
        Back
      </button>
      -->
    </div>

    <!-- segunda row -->
    <div class="bg-[#2C3E50] p-12">
      <h2 class="biography">Descripción</h2>
      <span class="biography_text">{{movie.descripcion}}</span>
    </div>

    <!-- tercera row -->
    <div class="bg-[#2C3E50] p-12 flex space-x-16 justify-around">
      <div class="border-2 border-black p-8">
        <h1 class="biography">Género</h1>
        <span class="">{{movie.genero}}</span>
      </div>
      <div class="border-2 border-black p-8">
        <h1 class="biography">Calificación</h1>
        <span>{{movie.calificacion}}</span>
      </div>
      <div class="border-2 border-black p-8">
        <h1 class="biography">Director</h1>
        <span>{{movie.director}}</span>
      </div>
    </div>

    <!-- cuarta row -->
    <div class="bg-[#2C3E50] p-12 min-h-[400px]">
      <div class="flex">
        <h1 class="biography">Imágenes</h1>
        @if(isAdmin){
          <button mat-fab class="ml-3">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
      <br>
      <shared-pages-carousel [imagenesMovies]="movie.imagenes"></shared-pages-carousel>
    </div>

      <!-- quinta row -->
    <div class="bg-[#2C3E50] p-12 min-h-[400px]">
      <div class="flex">
        <h1 class="biography">Reparto</h1>
        @if(isAdmin){
          <button mat-fab class="ml-3">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
      <br>
      <shared-pages-carousel [actors]="reparto"></shared-pages-carousel>
    </div>

  </div>
} @else {
  <div class="flex items-center justify-center h-screen text-white">
    <shared-spiner class="spiner"></shared-spiner>
  </div>
}
