.name{
  font-size: 40px;
}
.sub_name{
  font-size: 40px;
}
.biography{
  font-size: 30px;
}
.biography_text{
  font-size: 20px;
}
.spiner{
  transform: scale(1.9);
}

.shared-pages-carousel {
  transition: none !important;
}
