<div>
  @if (actor) {
    <mat-card class="card-size" appearance="outlined">
      <img mat-card-image [src]="actor.imagenes[0].url" class="card-image">
      <mat-card-header>
        <mat-card-title class="text-black">{{actor.nombre}}</mat-card-title>
        <mat-card-subtitle>{{actor.fechaDeNacimiento|date: 'dd/MM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <button class="btn-info" mat-fab [routerLink]="['/main',actor.nombre]">
          <mat-icon>info</mat-icon>
        </button>
        @if (admin) {
          <button class="btn-edit" mat-fab [routerLink]="['/edit', actor.nombre]">
            <mat-icon>edit_note</mat-icon>
          </button>
          <button class="btn-delete" mat-fab (click)="deleteActor(actor.nombre)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </mat-card-content>
    </mat-card>
  } @else if (movie) {
    <mat-card appearance="outlined" class="card-movie-size">
      <img mat-card-image [src]="movie.imagenes[0]" class="card-image">
      <mat-card-header>
        <mat-card-title class="text-black">✭ {{movie.calificacion}}</mat-card-title>
        <mat-card-title class="text-black">{{movie.titulo}}</mat-card-title>
        <mat-card-subtitle>{{movie.genero}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <button class="" mat-fab [routerLink]="['/movie',movie.titulo]"> <!--enviar a info de la movie-->
          <mat-icon>info</mat-icon>
        </button>
        @if (admin) {
          <button class="btn-edit"  mat-fab [routerLink]=""> <!--enviar a editar info si es admin-->
            <mat-icon>edit_note</mat-icon>
          </button>
          <button class="btn-delete" mat-fab (click)="deleteActor(movie.titulo)"> <!--enviar a eliminar info si es admin-->
            <mat-icon>delete</mat-icon>
          </button>
        }
        </mat-card-content>
    </mat-card>
  }@else {
    <shared-spiner></shared-spiner>
  }
</div>



